body {
  margin: unset;
}

section {
  margin: 8px 8px 8px 8px;
}

footer {
  text-align: center;

  clear: both;
  position: relative;
}

.page-header {
  background-color: #000;
}

.main-nav {
  display: inline-block;
}

.valign-mid {
  vertical-align: middle;
}

.img-valign {
  vertical-align: middle;
  margin-bottom: 0.75em;
}

.logo-itviec {
  padding-right: 20px;
  padding-left: 12px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  vertical-align: middle;
}

li {
  display: inline-block;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
}

li img {
  display: block;
  color: white;
  text-decoration: none;
}

li a:hover {
  background-color: #333;
}
