{% extends "base.html" %}

{% block title %}Jobs{% endblock %}

{% block app_content %}
<div class="container pt-3 pb-4">
  <h1 class="pb-3">Latest jobs:</h1>

  <div class="container pl-0 pr-0">
	{% for j in jobs %}
    <div class="card container">
      <div class="card-body">
        <h4 class="card-title pb-2">
          <a class="text-dark" target="_blank" href="http://www.itviec.com{{j.url}}">{{j.title}} - {{j.id}}</a>
        </h4>
        <h5 class="card-subtitle pb-4">
          <a class="text-secondary" target="_blank" href="http://www.itviec.com{{j.employer_url}}">{{j.employer_code}}</a>
        </h5>

        <p class="card-text">{{j.description}}</p>

        <div class="row pb-3">
          <div class="col-sm-2">Salary:</div>
          <div class="col-sm">{{j.salary}}</div>
        </div>
        <div class="row">
          <div class="col-sm-2">Location:</div>
          <div class="col-sm">
            <ul class="list-inline">
            {% for a in j.address %}
              <li class="list-inline-item">
                <div class="btn btn-outline-dark btn-sm disabled">{{a.name}}</div>
              </li>
            {% endfor %}
           </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">Tags:</div>
          <div class="col-sm">
            <ul class="list-inline">
            {% for jtag in j.tags %}
              <li class="list-inline-item">
                <div class="btn btn-outline-dark btn-sm disabled">{{jtag.tag.name}}</div>
              </li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
	{% endfor %}
  </div>

</div>
{% endblock %}
