{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Microblog{% else %}Welcome to Microblog{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">

      <ul>
        <li>
          <a href="/">
            <img alt="itviec" src="/img/logo_itviec.png" width="94" height="35">
          </a>
        </li>
        <li><a href="/hcm">Ho Chi Minh</a></li>
        <li><a href="/tags">Tags</a></li
        <li><a href="/about">About</a></li>
      </ul>

    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block footer %}
  <footer>
    <p>Copyright © 2019 by Totoro Software. All Rights Reserved.</p>
  </footer>
{% endblock %}

